.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.csv-panel {
  flex: 1;
  min-width: 750px;
}

.panels-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.panel {
  flex: 1 1 25%;
  box-sizing: border-box;
}

.panel-group {
  display: flex;
  justify-content: center; /* Center the entire group */
  flex-wrap: wrap;
  gap: 20px;
}

.panel-group .panel:nth-child(1) {
  margin-left: 150px; /* Adjust this value to move the first panel of each group more to the center */
}

body {
  background-color: #191b1f;
  color: #ffffff; 
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* .inter-title {
  font-family: "Inter", sans-serif;
  font-weight: 700; 
}    */
